<template>
    <div id="layout-default">
        <MainHeader />
        <section>
            <div class="container">
                <slot />
            </div>
        </section>

    </div>
</template>

<script>
import MainHeader from '@/components/Shared/Header.vue'

export default {
    components: {
        MainHeader: MainHeader
    }
}
</script>