<template>
    <div class="page-error">
        <h1>Ready for a great <br> User experience?</h1>
        <p>Bring your media to the next<br> level!</p>
        <div class="btns">
            <router-link class="btn btn-small btn-white" to="/auth">Sing Up</router-link>
            <router-link class="btn-circe" to="/login">Sing In</router-link>
        </div>
        <img src="../assets/404.png" alt="">
    </div>
</template>

<script>
export default {
    name: 'error-page'
}
</script>