<template>
    <div class="post">
        <div class="post-preview">
            <img src="../assets/post-img-1.png" :alt="article.title">
        </div>
        <div class="post-description">
          <h2 class="post-title">{{ article.title }}</h2>
          <p class="post-text">{{ article.description }}</p>
          <div class="post-date">{{ article.date | conversionDate }}</div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Article',
    data() {
        return {
            id: this.$router.currentRoute.params['id'],
            article: ""
        }
    },
    created() {
        this.$store.dispatch('LOAD_ARTICLES').then(response => {
            this.article = response.find((item) => item.id == this.id);
        })       
    },
    watch: {
        $route(toR, fromR) {
            this.id = toR.params['id']
        }
    }
}
</script>