<template>
    <div id="auth">
        <h1>Sing Up</h1>
        <auth />
    </div>
</template>

<script>
import Auth from '@/components/Auth/Auth.vue'

export default {
    name: 'AuthPage',
    components: {
        auth: Auth
    }
}
</script>