<template>
  <div class="home">
    <main>
      <div class="post" v-for="article of filterArticles" :key="article.id">
        <div class="post-preview">
          <a href="#">
            <img src="../assets/post-img-1.png" :alt="article.title">
          </a>
        </div>
        <div class="post-description">
          <h2 class="post-title"><router-link :to="'/article/' + article.id">{{ article.title }}</router-link></h2>
          <p class="post-text">{{ article.description }}...</p>
          <div class="post-date">{{ article.date | conversionDate }}</div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>

export default {
  name: 'home',
  created() {
    this.$store.dispatch('LOAD_ARTICLES')
  },
  computed: {
    articles() {
      return this.$store.getters.GET_ARTICLES;
    },
    search() {
      return this.$store.getters.GET_SEARCH;
    },
    sortDate() {
      return this.$store.getters.GET_SORTDATE;
    },
    filterArticles() {
      let articles = this.articles.filter( article => {
        return article.title.toUpperCase().indexOf(this.search.toUpperCase())  !== -1
      })
      if(!this.sortDate) {
        return articles.sort((a, b) => new Date(a.date)-new Date(b.date)).reverse()
      } else {
        return articles.sort((a, b) => new Date(a.date)-new Date(b.date));
      }
    }
  }
}
</script>
