<template>
    <div id="login">
        <h1>Sing In</h1>
        <login />
    </div>
</template>

<script>
import Login from '@/components/Auth/Login.vue'

export default {
    name: 'LoginPage',
    components: {
        login: Login
    }
}
</script>