.page-error p {
    text-align: center;
}
.page-error .btns {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
    & > * {
        margin-left: 8px;
        margin-right: 8px;
    }
}