.auth {
    form {
        background: #FFFFFF;
        border-radius: 40px;
        padding: 23px 22px 18px;
        margin-bottom: 20px;
    }
    &-row {
      margin-bottom: 24px;
      &:last-child {
          margin-bottom: 0;
      }
    }
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        a {
            text-decoration: underline;
            color: #1E1A3E;
            &:hover {
                text-decoration: none;
            }
        }
    }
}