* {
    box-sizing: border-box;
}
body {
    background: #FAF3F3;
    font-size: 14px;
    line-height: 20px;
    color: #1E1A3E;
    margin: 0;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: #3C4CA9;
    text-decoration: none;
}
.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 15px;
  }
h1, h2 {
    font-family: 'InterExtraBold';
    font-size: 22px;
    line-height: 30px;
    color: #181C43;
    text-align: center;
    margin: 0 0 20px;
}
input {
    border: transparent;
    outline: none;
    background: #fff;
    border-radius: 40px;
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 18px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 38, 60, 0.6);
}
.control {
    display: flex;
    align-items: center;
    margin-left: -6px;
    margin-right: -6px;
}
#app {
    position: relative;
}
#layout-auth {
    padding-top: 63px;
}