.btn {
    border: transparent;
    outline: none;
    background: #1E1A3E;
    border-radius: 50px;
    display: flex;
    width: 100%;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    &.btn-small {
        width: 120px;
    }
    &.btn-white {
        background: #fff;
        color:#000;
    }
    &:hover {
        opacity: 0.4;
    }
}
.btn-circe {
    border: transparent;
    background: url(../assets/arrow-right-ico.svg) center center no-repeat #1E1A3E;
    border-radius: 100%;
    display: flex;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    &:hover {
        opacity: 0.4;
    }
}
.btn-close {
    border: transparent;
    background: url(../assets/close-ico.svg) center center no-repeat;
    display: inline-block;
    width: 11px;
    height: 11px;
    cursor: pointer;
}
.btn-password-toggle {
    border: transparent;
    background: url(../assets/toggle-password-ico.svg) center center no-repeat;
    display: inline-block;
    width: 18px;
    height: 15px;
    cursor: pointer;
}
.btn-sort {
    border: transparent;
    outline: none;
    background: url(../assets/sort-ico.svg) 14px center no-repeat #FFFFFF;
    border-radius: 40px;
    display: flex;
    align-items: center;
    min-width: 88px;
    width: 88px;
    height: 38px;
    padding: 10px 15px 10px 40px;
    cursor: pointer;
    &.reverse {
        background: url(../assets/sort-reverse-ico.svg)  14px center no-repeat #FFFFFF;
    }
}