.field {
    &-holder {
        position: relative;
    }
    &-label {
        display: block;
        padding-left: 18px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: #000;
        position: relative;
        opacity: .8;
        .tooltip {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        }
    }
    &-input {
        background: #F3F3FA;
        border-radius: 50px;
        height: 36px;
        line-height: 20px;
        color:#000;
        &.error {
            background: rgba(255, 66, 83, 0.2);
        }
    }
    &-error {
        font-size: 10px;
        line-height: 20px;
        color: #FF6683;
        position: absolute;
        left: 18px;
        top: 100%;
    }
    .btn-password-toggle {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
}