.header {
    background: #FAF3F3;
    padding: 63px 0 17px;
    margin-bottom: 7px;
    .control {
        justify-content: space-between;
    }
    &.fixed {
        box-shadow: 0px 4px 4px #EBDDDD;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }
}