.notify {
    background: #FF6683;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 275px;
    height: 48px;
    padding: 10px 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 17px;
    z-index: 10;
    transform: translateX(-50%);
    &-text {
        margin-left: -10px;
    }
    .btn-close {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
    }
}