.post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    &-preview {
        border-radius: 16px;
        max-width: 80px;
        min-width: 80px;
        overflow: hidden;
        margin-right: 17px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &-description {
        flex-grow: 1;
    }
    &-title {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-align: left;
        color: #3C4CA9;
        margin-bottom: 5px;
    }
    &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        margin: 0 0 8px;
    }
    &-date {
        font-size: 10px;
        line-height: 140%;
        color: rgba(0, 0, 0, 0.6);
    }
}