.search {
    padding-left: 6px;
    padding-right: 6px;
    &-input {
        background-image: url(../assets/search-ico.svg);
        background-position: 16px center;
        background-repeat: no-repeat;
        padding-left: 42px;
    }
}