.tooltip {
    &-toggle {
        background: url(../assets/question-ico.svg) 0 0 no-repeat;
        display: block;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }
    &-text {
        background: #1E1A3E;
        box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 184px;
        padding: 7px 11px 5px;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #F3F3F3;
        visibility: hidden;
        position: absolute;
        right: -11px;
        bottom: 21px;
        &:before {
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 12px solid #1E1A3E;
            position: absolute;
            right: 10px;
            bottom: -6px;
        }
    }
    &:hover {
        .tooltip-text {
            visibility: visible;
        }
    }
}