<template>
    <header class="header" :class="{'fixed': fixed}" v-scroll="handleScroll">
        <div class="container">
            <h2>Articles</h2>
            <div class="control">
                <search />
                <btnSort :toggleClass="sortDate" @click="sortArticles" />
            </div>
        </div>
    </header>
</template>

<script>
import Search from '@/components/BaseElements/Search.vue'
import ButtonSort from '@/components/BaseElements/ButtonSort.vue'

export default {
    name: 'MainHeader',
    data() {
        return {
            fixed: false
        }
    },
    components: {
        search: Search,
        btnSort: ButtonSort
    },
    computed: {
        sortDate() {
            return this.$store.getters.GET_SORTDATE;
        }
    },
    methods: {
        handleScroll: function (evt, el) {
            if (window.scrollY > 100) {
                this.fixed = true
            } else if (window.scrollY < 100) {
                this.fixed = false
            }
        },
        sortArticles() {
            this.$store.commit('SET_SORTDATE', true)
        }
    }
}
</script>