<template>
    <button :class="{'reverse': toggleClass}" @click="toggleBtn" class="btn-sort">
        <span v-if="!toggleClass">New</span>
        <span v-else>Old</span>
    </button>
</template>

<script>
export default {
    name: "ButtonSort",
    props: {
        toggleClass: {
            type: Boolean
        }
    },
    methods: {
        toggleBtn() {
            this.$emit('click')
        }
    }
}
</script>