<template>
    <div class="field">
        <label class="field-label" :for="id">
            {{ labelText }}
            <span v-if="tooltip" class="tooltip">
                <span class="tooltip-toggle"></span>
                <span class="tooltip-text">Password must contain 8+ symbols, 1 special and 2 capital letters</span>
            </span>
        </label>
        <div class="field-holder">
            <input 
                @input="onChange($event)" 
                class="field-input"
                :class="{'error': errorInput}" 
                :type="type" 
                :id="id"
            >
            <!-- errors -->
            <slot />
            <button v-if="type === 'password'" @click.prevent="toggleType(id)" class="btn-password-toggle"></button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'field',
    props: {
        type: {
            type: String,
            default: 'text'
        },
        id: {
            type: String,
            required: true
        },
        tooltip: {
            type: Boolean,
            default: false
        },
        labelText: String,
        errorInput: Boolean
    },
    methods: {
        toggleType(id) {
            let selector = "#" + id;
            let element = document.querySelector(selector);
            let type = element.getAttribute('type');

            if (type === "text") {
                element.setAttribute('type', 'password');
            } else if (type === "password") {
                 element.setAttribute('type', 'text');
            }
        },
        onChange(data) {
            let value = data.target.value
            this.$emit('input',value)
        }
    }
}
</script>