<template>
    <div class="search">
        <input v-model="searchValue" @input="onSearch" class="search-input" type="text" placeholder="Search">
    </div>
</template>

<script>
export default {
    name: 'Search',
    data() {
        return {
            searchValue: ""
        }
    },
    methods: {
        onSearch() {
            this.$store.commit('SET_SEARCH', this.searchValue)
        }
    }
}
</script>