<template>
    <div class="notify" v-if="visible">
        <div class="notify-text">Wrong email or password</div>
        <button @click="toggle" class="btn-close"></button>
    </div>
</template>

<script>
export default {
    name: 'Tooltip',
    props: {
        visible: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        toggle() {
            this.$emit('click', false)
        }
    }
}
</script>