<template>
    <div class="auth">
        <form @submit.prevent="onSubmit">
            <div class="auth-row">
                <field 
                    labelText="Email"
                    id="email"
                    :errorInput="$v.Form.email.$error"
                    v-model="Form.email"
                    @input="$v.Form.email.$touch()"
                >
                    <span v-if="!$v.Form.email.required && $v.Form.email.$dirty" class="field-error">Email is required</span>
                    <span v-if="!$v.Form.email.email && $v.Form.email.$dirty" class="field-error">Enter a valid email</span>
                </field>
            </div>
            <div class="auth-row">
                <field 
                    type="password"
                    labelText="Password"
                    id="password"
                    :errorInput="$v.Form.password.$error"
                    :tooltip="true"
                    v-model="Form.password"
                    @input="$v.Form.password.$touch()"
                >
                    <span v-if="!$v.Form.password.required && $v.Form.password.$dirty" class="field-error">Password is required</span>
                    <span v-if="!$v.Form.password.strongPassword && $v.Form.password.$dirty && $v.Form.password.required" class="field-error">Enter a valid password</span>
                </field>
            </div>
            <div class="auth-row">
                <button type="submit" class="btn">Sign In</button>
            </div>
        </form>
        <p>Already have an account? <br> <router-link to="/auth">Sign Up</router-link></p>
        <tooltip @click="toogle" :visible="errorForm" />
    </div>
</template>

<script>
import Field from '@/components/BaseElements/Field.vue'
import Tooltip from '@/components/BaseElements/Tooltip.vue'
import { required, email } from 'vuelidate/lib/validators'

export default {
    name: 'login',
    data() {
        return {
            Form: {
                email: null,
                password: null
            },
            errorForm: false
        }
    },
    validations: {
        Form: {
            email: {
                required,
                email
            },
            password: {
                required,
                strongPassword(password) {
                    return (
                    /[a-z]/.test(password) && // checks for a-z
                    /[A-Z]{2}/.test(password) && // checks for two uppercase letters
                    /\W|_/.test(password) && // checks for special char
                    password.length >= 8
                    );
                }
            }
        }
    },
    components: {
        field: Field,
        tooltip: Tooltip
    },
    methods: {
        onSubmit() {
            if(!this.$v.Form.$invalid) {
                let user = {
                    email: this.Form.email,
                    password: this.Form.password
                }
                localStorage.setItem('user', JSON.stringify(user))
                this.$store.dispatch('LOGIN_REQUEST', user)
                    .then(response => {
                        this.$router.push('/')
                    });
            } else {
                this.errorForm = this.$v.Form.$invalid
            }
        },
        toogle() {
            this.errorForm = false
        }
    }
}
</script>
